# JWT — api-gateway 
JWT_SECRET=example
JWT_EXPIRY=24h

# SQLite — release-service 
DB_PATH=./data/releases.db

# Usuario admin inicial 
ADMIN_EMAIL=correo@example
ADMIN_PASSWORD=example123

# GitHub — integration-service 
GITHUB_TOKEN=

# SMTP — notification-service 
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=

# URLs entre microservicios
RELEASE_SERVICE_URL=http://localhost:3001
RULES_SERVICE_URL=http://localhost:3002
INTEGRATION_SERVICE_URL=http://localhost:3003
NOTIFICATION_SERVICE_URL=http://localhost:3004
